html {
    scroll-behavior: smooth;
}

/* Full height
---------------------------------------------------*/

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-wrap {
    flex: 1;
}

/* admin bar layout fix when logged in
---------------------------------------------------*/

.admin-bar .site-wrap,
.admin-bar .header-wrap {
    top: 32px;
}