// Smooth scroll

html {
    scroll-behavior: smooth;
}

// Forces full height on pages with little content

#site-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-wrap {
    flex: 1;
}

// Layout fix when logged in and admin bar is present

.admin-bar #site-wrap,
.admin-bar #header-wrap {
    top: 32px;
}

// Selected text styles

::selection {
    background-color: lighten(theme-color("primary"), 15%);
    color: theme-color("light");
}