// src paths are relative to the compiled css file in dist/css/style.min.css

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-bold.woff2') format('woff2');
  font-display: swap;
}
