#header-wrap {

    .custom-logo {
        height: 70px;
        width: auto;
        transition: height 0.5s;
    }

    .elem-socialicons a {
        color: white;
        padding: 0.5rem;
    }

    &.header-scrolled {

        .custom-logo {
            height: 50px;
        }
    
    }

}