/* Custom classes
---------------------------------------------------*/

// Reference list of custom classes.
// Activate from style.scss ONLY to highlight structure.

// Wrappers

#site-wrap,         // full site wrapper

#header-wrap,       // header wrapper

#page-wrap,         // main content + sidebars wrapper
#content-wrap,      // main content wrapper

#index-wrap,        // article index wrapper
#article-wrap,      // blog post wrapper
#comments-wrap,     // comments wrapper

#sidebar-r-wrap,    // right sidebar wrapper

#footer-wrap        // footer wrapper

{ border: 5px solid red; margin: 10px; }

// Sections

.sect-pageheader,   // page header with image background
.sect-slider,       // slider section
.sect-cards         // cards section

{ border: 5px solid cyan; margin: 10px; }

// Elements

.header-menu,       // header menu
.footer-menu,       // footer menu
.elem-socialicons,  // social icons block
.elem-socialshare,  // social share buttons
.index-pager        // blog post pagination in index page


{ border: 5px solid yellow; margin: 10px; }
