.socialshare {
    
    .btn {
        min-width: 3rem;

        &:focus {
            box-shadow: none;
        }

        // &:hover span {
        //     margin: 0 1.1rem;
        // }
    

    }

    a {
        color:#fff;

        &:hover {
            color: #fff;
        }
    }

    // span {
    //     margin-left: 0.8rem;
    //     transition: margin 500ms;
    // }

}