/*
 * Bootstrap Custom Theme
 *
 * https://getbootstrap.com/docs/5.0/customize/overview/
 *
 */

// --- Color system ---

$primary: #37c871;
$secondary: #c83771;
// $success: #fff;
// $info: #fff;
// $warning: #fff;
// $danger: #fff;
$light: #eee;
$dark: #333;

// $body-bg:         $white;
// $body-color:      $gray-900;

// --- Typography ---

$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: rubik, $font-family-sans-serif;

// $font-size-base:              1rem;
// $font-size-sm:                $font-size-base * .875;
// $font-size-lg:                $font-size-base * 1.25;

// $font-weight-lighter:         lighter;
// $font-weight-light:           300;
// $font-weight-normal:          400;
// $font-weight-bold:            700;
// $font-weight-bolder:          bolder;

// $font-weight-base:            $font-weight-normal;

// $line-height-base:            1.5;
// $line-height-sm:              1.25;
// $line-height-lg:              2;

// $h1-font-size:                $font-size-base * 2.5;
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

// $headings-font-family:        null;
// $headings-font-style:         null;
$headings-font-weight: 700;   // 500;
// $headings-line-height:        1.2;
// $headings-color:              null;

// $display-font-sizes: (
//   1: 5rem,
//   2: 4.5rem,
//   3: 4rem,
//   4: 3.5rem,
//   5: 3rem,
//   6: 2.5rem
// );

// $display-font-weight:         300;
// $display-line-height:         $headings-line-height;

// $lead-font-size:              $font-size-base * 1.25;
// $lead-font-weight:            300;

// $small-font-size:             .875em;

// --- Links ---

// $link-color:                     $primary;
$link-decoration: none; // underline;
// $link-shade-percentage:          20%;
// $link-hover-color:               shift-color($link-color, $link-shade-percentage);
// $link-hover-decoration:          null;

// --- Options ---

// $enable-caret:                true;
// $enable-rounded:              true;
// $enable-shadows:              false;
// $enable-gradients:            false;
// $enable-transitions:          true;
// $enable-reduced-motion:       true;
// $enable-smooth-scroll:        true;
// $enable-grid-classes:         true;
// $enable-cssgrid:              false;
// $enable-button-pointers:      true;
// $enable-rfs:                  true;
// $enable-validation-icons:     true;
// $enable-negative-margins:     false;
// $enable-deprecation-messages: true;
// $enable-important-utilities:  true;

// --- Spacers & Grid ---

// $spacer: 1rem;

// $spacers: (
//   0: 0,
//   1: $spacer * .25,
//   2: $spacer * .5,
//   3: $spacer,
//   4: $spacer * 1.5,
//   5: $spacer * 3,
// );

// $paragraph-margin-bottom:   $spacer;
// $headings-margin-bottom:    $spacer * .5;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );

// $grid-columns:                12;
// $grid-guttergutter-width:           1.5rem;
// $grid-row-columns:            6;

// $gutters: $spacers;

// $container-padding-x: $grid-gutter-width * .5;

// --- Borders ---

// $border-width:                1px;
// $border-widths: (
//   1: 1px,
//   2: 2px,
//   3: 3px,
//   4: 4px,
//   5: 5px
// );

// $border-color:                $gray-300;

// $border-radius:               .25rem;
// $border-radius-sm:            .2rem;
// $border-radius-lg:            .3rem;
// $border-radius-pill:          50rem;

// --- Components ---

// You can refer to the official Bootstrap Documentation for variables used in each component, and paste/customize them below.
// In example https://getbootstrap.com/docs/5.0/components/buttons/#variables
