/**
 * A simple mixin to ease gradients
 * Inspired by Andreas Larson - https://github.com/larsenwork
 * https://css-tricks.com/easing-linear-gradients/
 * Based on https://gist.github.com/matthewbeta/0ef11bd907b435f101e09cc6216ad66b
 * Added $firstStop to give first color values other than 0%
*/

@mixin scrimGradient($direction: 'to bottom', $startColor: #000, $firstStop: 0) {

    $scrimCoordinates: (
        0: 1,
        19: 0.738,
        34: 0.541,
        47: 0.382,
        56.5: 0.278,
        65: 0.194,
        73: 0.126,
        80.2: 0.075,
        86.1: 0.042,
        91: 0.021,
        95.2: 0.008,
        98.2: 0.002,
        100: 0
    );
  
    $hue: hue($startColor);
    $saturation: saturation($startColor);
    $lightness: lightness($startColor);
    $stops: ();
  
    @each $colorStop, $alphaValue in $scrimCoordinates {
        $adjustedStop: $firstStop+($colorStop*((100-$firstStop)/100));
        $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($adjustedStop/100);
        $stops: append($stops, $stop, comma);
    }
  
    background: linear-gradient(unquote($direction), $stops);
  
}