# System files
**/.directory
**/**.DS_Store
**/Thumbs.db

# Visual Studio Code
.vscode

# NPM
node_modules

# Composer
vendor

# Third Party
lib

# Compiled
dist

# Packages
packages

# Personal data
tools/gulp-ftp.js