#footer-columns {

    .custom-logo {
        max-height: 50px;
        width: auto;      
    }

    .footer-menu .nav-link {
        margin-bottom: 0.25rem;
        padding: 0rem;

    }

    .socialicon:first-child .nav-link {
        padding-left: 0.3rem;
    }

    a {
        color: theme-color("light");
    }
    
}