.share-button {

    color: #fff;
    background-color: theme-color("primary");
    min-width: 3.5rem;
    transition: min-width 300ms;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: #fff;
        min-width: 4.2rem;
    }

}

// Colors from "brand-colors" npm package

.share-facebook {
    background-color: $bc-facebook;
}

.share-twitter {
    background-color: $bc-twitter;
}

.share-linkedin {
    background-color: $bc-linkedin;
}

.share-pinterest {
    background-color: $bc-pinterest;
}

.share-pocket {
    background-color: $bc-pocket;
}

.share-telegram {
    background-color: $bc-telegram;
}

.share-email {
    background-color: #777;
}