.mouse-wheel {
  width: 26px;
  height: 45px;
  margin: 0 auto 3rem;
  border: 2px solid $light;
  border-radius: 13px;

  &::after {
    display: block;
    width: 6px;
    height: 6px;
    margin: 6px auto 0;
    content: '';
    background-color: $light;
    border-radius: 50%;
    animation: mouse-wheel 1s infinite ease-out;
  }
}

@keyframes mouse-wheel {
  from {
    margin-top: 6px;
    opacity: 0;
  }

  to {
    margin-top: 15px;
    opacity: 1;
  }
}

$slider-height: 500px;

#section-slider {
  .carousel-inner {
    max-height: $slider-height;
  }

  .carousel-item {
    max-height: $slider-height;
  }
}
