// load source

@import '../../node_modules/aos/src/sass/aos';

// custom animation example

[data-aos='custom-animation'] {
  opacity: 0%;
  transition-property: transform, opacity;
  transform: rotate(360deg);

  &.aos-animate {
    opacity: 100%;
    transform: rotate(0);
  }
}
