#header-wrapper {
  .custom-logo {
    width: auto;
    height: 60px;
    transition: height 0.5s;

    svg {
      height: 100%;
    }
  }

  &.header-scrolled {
    .custom-logo {
      height: 50px;
    }
  }
}
